{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "maintained node versions"
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-transform-runtime"
  ]
}
